body{
    background-color: #e7e7e7;
}

/*General styles*/
.titleTask{
    text-align: center;
}
.pointer{
    cursor:pointer;
}
/*Header*/
div.head{
    background-color: white;
    margin:20px 0;
}

/*Main*/
.categories{
    background-color: white;
}
.categories ul{
    padding:0px 0px 10px 0;
    list-style:none;
}
.categories > ul > li {
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 5px 0 0;
}
.categories > ul > li > ul > li {
    padding:0 5px 1px 10px;
    border-top:1px solid black;
}
.subCategories{
    display: none;
}
.subCategories span{
    padding-left:5px;
}
.wrapRes {
    overflow: hidden;
    margin-bottom: 10px;
    background-color: white;
}